/* Azure color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-text-selection-color: rgba(2, 154, 232, 0.25);
  --pico-primary: #0172ad;
  --pico-primary-background: #0172ad;
  --pico-primary-underline: rgba(1, 114, 173, 0.5);
  --pico-primary-hover: #015887;
  --pico-primary-hover-background: #02659a;
  --pico-primary-focus: rgba(2, 154, 232, 0.25);
  --pico-primary-inverse: #fff;
}

/* Azure color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-text-selection-color: rgba(1, 170, 255, 0.1875);
    --pico-primary: #01aaff;
    --pico-primary-background: #0172ad;
    --pico-primary-underline: rgba(1, 170, 255, 0.5);
    --pico-primary-hover: #79c0ff;
    --pico-primary-hover-background: #017fc0;
    --pico-primary-focus: rgba(1, 170, 255, 0.25);
    --pico-primary-inverse: #fff;
  }
}

/* Azure color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --pico-text-selection-color: rgba(1, 170, 255, 0.1875);
  --pico-primary: #01aaff;
  --pico-primary-background: #0172ad;
  --pico-primary-underline: rgba(1, 170, 255, 0.5);
  --pico-primary-hover: #79c0ff;
  --pico-primary-hover-background: #017fc0;
  --pico-primary-focus: rgba(1, 170, 255, 0.25);
  --pico-primary-inverse: #fff;
}

/* Global CSS variables */
:root {
  --spacing-company: 3rem;
  --font-weight: 400;
  --border-radius: 0;
  --grid-spacing-vertical: 1rem;
}

#advantage > * {
  padding: 1em;
  border-radius: 5px;
  border: 1px solid var(--pico-primary-hover-background);
  /* color: var(--primary-inverse);
  background-color: var(--primary); */
}

/* 
#advantage h3 {
  padding-left: 1em;
  background-image: var(--icon-checkbox);
  background-position: left; 
}
*/

.primary {
  color: var(--pico-primary);
}

/* Typography */
h2,
h3,
hgroup > :last-child {
  font-weight: 200;
}

/* small {
  color: var(--muted-color);
} */

/* Header */
.hero {
  background-image: url("img/hero.jpg");
  background-position: left;
  background-size: cover;
}

header {
  padding: var(--spacing-company) 0;
  text-align: center;
}

header h1 {
  margin-bottom: 1em;
}

header h2 {
  color: var(--pico-contrast);
}

header hgroup {
  margin-bottom: var(--spacing-company);
}

/* Nav */
summary[role="link"].contrast:is([aria-current], :hover, :active, :focus) {
  background-color: transparent;
  color: var(--contrast-hover);
}

@media (min-width: 768px) {
  #advantage div:last-child {
    grid-column: 1 / 4;
  }
}

/* Main */
/* @media (min-width: 992px) {
  main .grid {
    grid-column-gap: var(--spacing-company);
    grid-template-columns: auto 25%;
  }
} */

form.grid {
  grid-row-gap: 0;
}
